@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    
    font-family: 'Montserrat';
    background-image: url(https://images.unsplash.com/photo-1589225529399-8705282f98e2?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=580&q=80);
    background-repeat: no-repeat;
    background-size: cover;
}
html , body {
    overflow-x: hidden;
}

.logo {
    margin: 2rem;
    margin-right: auto;
    color: white;
    display: flex;
    align-items: center;
    

}
.compant-name {
    letter-spacing: 1px;
    font-weight: 700;

}
.logo-i {
    margin: 1rem;
    font-size: 2rem;
    color: blue;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(0, 0, 0);
    max-height: 65px;
    min-height: 65px;
    width: 100%;
}
.navigation {
    display: flex;
    list-style: none;
    

}
nav {
    margin-right: 2rem;
    margin-left: 3rem;
    
}
i {
    margin-right: 10px;
}
main {
    height: 2000px;
}
.navigation li {
    padding: 5px;
    margin: 10px;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
}
.menu-toggle {
    display: none;
    margin-right: 30px;
    margin-left: 20px;
    z-index: 999;
    cursor: pointer;
    background-color: transparent;
    transition: all 400ms ease;
}
.menu-toggle span {
    width: 35px;
    height: 6px;
    background-color: white;
    margin: 4px;
    display: block;
    border-radius: 5px;
    transition: all 400ms ease;
}
.menu-toggle:hover span:nth-of-type(2){
    transform: translateX(-15px);
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: blue;
    
}
.menu-toggle:hover {
    transform: scale(.8);
}
.menu-toggle[data-active="true"] span:nth-of-type(2) {
    display: none;
}
.menu-toggle[data-active="true"] span:nth-of-type(1) {
    transform:translateY(5px) rotate(45deg) ;

}
.menu-toggle[data-active="true"] span:nth-of-type(3) {
    transform:translateY(-5px) rotate(-45deg);
}
.navigation li {
    margin-right: 25px;
}

li a {
     text-decoration: none;
     color: white;
     font-weight: 600;
     display: flex;
     flex-wrap: nowrap;
}
.log {
    width: 150px;
    padding: 10px;
    border: 0px;
    background-color: white;
    text-transform: uppercase;
    color: black;
    border-radius: 5px;
    font-weight: 700;
    cursor: pointer;
}
button {
    border: 0px;
}

/* Medium Screen */

@media (min-width:830px) and (max-width:985px) {
    li:nth-of-type(4) {
        display: none !important;
    }
    
}

/* Mobile Screen */
@media (max-width: 830px) {
    nav {
        position: absolute;
        top: 65px;
        right: 0px;
        height: 100%;
        width: 70%;
        display: flex;
        margin: 0;
        overflow: hidden;
    }
    .navigation {
        position: relative;
        display: flex;
        flex-direction: column;
        width: 100%;
        background-color: rgba(128, 128, 128, 0.2);
        backdrop-filter: blur(2rem);
        transform: translateX(100%);
        justify-content: center;
        align-items: center;
        transition: all 400ms ease-out;
        
    }
    .navigation li {
        width: 50%;
        margin: 30px;
        display: flex;
        justify-content: center;
        flex-wrap: nowrap;
    }
    .log {
        width: 90%;
        padding: 10px;
        border: 0px;
        background-color: black;
        text-transform: uppercase;
        color: white;
        border-radius: 5px;
        font-weight: 700;
        cursor: pointer;
        text-align: center;
        margin: 0 auto;
        margin-top: 0px;
    }
    li a {
        font-size: 20px;
        display: flex;
        flex-wrap: nowrap;
        align-items: flex-start;
        color: white;
        font-weight: 600;
        
        margin: 0 auto 0 20px ;
        
    }
    .menu-toggle {
        display: block;
    }
    a i {
        display: block;
        width: 25px;
        margin-right: 15px;
        color: black;
        font-weight: normal;
    }
    
    .navigation[data-visible="true"] {
        transform: none;
        
    }

}
@media (min-width:830px) {
    .no i {
        display: none !important;
    }
}

/* Header End */


